<div *ngIf="dataFetched">
  <div class="row mt-3">
    <div class="col-12 m-auto">
      <div class="card">
        <div *ngIf="surveyForEdit" class="card-header">
          <h3>Edit survey</h3>
        </div>
        <div *ngIf="!surveyForEdit" class="card-header">
          <h3>Add survey</h3>
        </div>
        <form [formGroup]="addSurveyForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="card mb-3">
                  <div class="card-body m-auto p-2">
                    <h3 id="generalInfo" class="link-animate highlight" (click)="onSelectGeneralInfo()">General info</h3>
                  </div>
                </div>
                <h2>Questions</h2>
                <div *ngFor="let question of currSurvey.questionsAndAnswers; let i = index">
                  <div class="card mb-3">
                    <div class="card-body p-3 d-flex justify-content-between">
                      <h5 id={{question.questionID}} class="link-animate" (click)="onSelectQuestion(question.questionID)">
                        {{ question.question }}
                      </h5>
                      <div
                        *ngIf="currSurvey.questionsAndAnswers.length > 1"
                        class="mt-auto mb-auto">
                        <i
                          class="link-animate fas fa-trash fa-xl"
                          (click)="onDeleteQuestion(i)"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body m-auto">
                    <i class="link-animate fas fa-plus fa-2xl" (click)="onAddQuestion()"></i>
                  </div>
                </div>
              </div>
              <div class="col-9">
                <div *ngIf="displayGeneralInfo">
                  <div class="row">
                    <div class="col-6">
                      <label for="title">Survey title</label>
                      <input
                        type="text"
                        id="title"
                        class="form-control mb-2"
                        name="title"
                        [(ngModel)]="currSurvey.title"
                        formControlName="title" />
                      <div class="error-block" *ngIf="Title.invalid && Title.touched">
                        Please enter a title
                      </div>

                      <label for="due">Due date</label>
                      <input
                        type="date"
                        id="due"
                        class="form-control"
                        name="due"
                        [(ngModel)]="currSurvey.dueDate"
                        formControlName="due" />
                      <div
                        class="error-block"
                        *ngIf="addSurveyForm.hasError('lessThanToday') && Description.touched">
                        Date has to be more than today
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="description">Description</label>
                      <input
                        type="text"
                        id="description"
                        class="form-control mb-2"
                        name="description"
                        [(ngModel)]="currSurvey.description"
                        formControlName="description" />
                      <div class="error-block" *ngIf="Description.invalid && Description.touched">
                        Please enter description
                      </div>

                      <label for="priority">Priority</label>
                      <select
                        class="form-control"
                        id="priority"
                        name="priority"
                        [(ngModel)]="currSurvey.priority"
                        formControlName="priority">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div *ngIf="!displayGeneralInfo">
                  <label for="qtitle">Question title</label>
                  <input
                    type="text"
                    id="qtitle"
                    class="form-control mb-2"
                    name="qtitle"
                    [(ngModel)]="currQuestion.question"
                    [ngModelOptions]="{ standalone: true }" />
                  <div *ngFor="let answer of currQuestion.options; let i = index" class="mb-2">
                    <label>Answer option {{ i + 1 }}</label>
                    <div class="d-flex">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="currQuestion.options[i].answer"
                        [ngModelOptions]="{ standalone: true }" />
                      <div *ngIf="currQuestion.options.length > 1" class="mt-auto mb-auto ms-2">
                        <i
                          class="link-animate mt-auto mb-auto fas fa-trash fa-xl"
                          (click)="onDeleteAnswer(i)"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body m-auto">
                      <i class="link-animate fas fa-plus fa-2xl" (click)="onAddAnswer()"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <button
                type="button"
                [disabled]="addSurveyForm.invalid"
                class="btn btn-success me-2"
                (click)="onSubmit()">
                Publish survey
              </button>
              <button type="button" class="btn btn-light me-2" (click)="onSaveAsDraft()">
                Save as a draft
              </button>
              <button type="button" class="btn btn-primary me-2" (click)="openModal(template)">
                Assign users
              </button>
              <button
                type="button"
                class="btn btn-danger"
                style="float: right"
                (click)="onDiscard()">
                Discard
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #template class="modal">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Survey Participants</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="border-radius: 0px;">
      <tabset>
        <tab heading="Invite" id="tab1">
          <div *ngFor="let user of users" class="row custom-checkbox">
            <div class="form-group">
              <p class="user-info">
                <i class="bi bi-person-fill"></i>
                {{ user.userName }}
              </p>
              <input
                type="checkbox"
                name="week"
                id="{{ user.userName }}"
                (change)="onChange(user.userName, $any($event.target).checked)" />
              <label for="{{ user.userName }}" class="float-end"
                ><i class="bi bi-check-lg"></i
              ></label>
            </div>
          </div>
          <button type="button" class="btn btn-primary float-end m-1" (click)="invite()">
            Invite!
          </button>
        </tab>
        <tab heading="Invited">
          <div *ngFor="let user of addedUsers" class="row custom-checkbox">
            <div class="form-group">
              <p class="user-info">
                <i class="bi bi-person-fill"></i>
                {{ user }}
              </p>
              <label for="{{ user }}" class="float-end"><i class="bi bi-check-lg"></i></label>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </ng-template>
</div>
