.ng-invalid.ng-touched {
  border-color: red;
}

.error-block {
  color: red;
}

.btn-group > label[ng-reflect-btn-radio] {
  border-radius: 44px;
  padding: 0 15px;
  line-height: 30px;
}

.card-header > h1,
.card-header > h2,
.card-header > h3 {
  color: white;
}

.card-header {
  height: 42px;
  padding: 4px 10px !important;
}

.link-animate:hover {
  cursor: pointer;
  color: #d3d8ff;
}

.link-animate {
  transition-duration: 0.3s;
}

.highlight {
  color: #d3d8ff;
  text-decoration: underline;
}

input[readOnly] {
  opacity: 0.5;
}

.btn {
  transition: 0.2s all ease;
}

.btn-primary,
.disabled.btn-primary {
  transition: 0.2s all ease;
  background-color: #ebf0ff;
  border-color: #ebf0ff;
  color: black;
}

.btn-primary:hover {
  background-color: #d3d8ff;
  border-color: #d3d8ff;
}

.list-inline-item {
  margin: 0;
  background-image: linear-gradient(#d3d8ff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
  width: fit-content;
}

.list-inline-item:hover {
  width: fit-content;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
