<div class="row mt-3">
  <div class="col-12 m-auto">
    <div class="card">
      <div class="card-header">
        <h3>Manage surveys</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2 m-auto">
            <h2 class="link-animate" id="Draft" (click)="setSurveyFilter('Draft')">Draft</h2>
            <h2 class="link-animate" id="Published" (click)="setSurveyFilter('Published')">Published</h2>
            <h2 class="link-animate" id="Finished" (click)="setSurveyFilter('Finished')">Finished</h2>
          </div>

          <div class="col-10 container-btn pb-5">
            <div *ngIf="Surveys.length == 0">
              <h3>There are no surveys to display</h3>
            </div>
            <div *ngIf="Surveys.length != 0">
              <div
                *ngFor="let survey of Surveys | filter : SearchByStatus : 'Status'"
                class="shadow-sm mb-3">
                <accordion [isAnimated]="true"
                  ><app-survey-card [survey]="survey" [parent]="this" [userType]="'admin'"></app-survey-card
                ></accordion>
              </div>
            </div>
            <button type="button" class="newsurvey-btn btn btn-success me-2" routerLink="/admin/surveys/add">Add survey</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
