<accordion-group [isOpen]="false" #accGroup class="p-1">
  <span class="header" accordion-heading class="float-start" style="width: 100%">
    <h1 style="display: inline; position: relative; bottom: 7px; font-size: 33px;">{{ survey.title }}</h1>
    <i
      class="fa float-end fa-lg pt-3"
      [ngClass]="{
        'fas fa-angle-double-up': accGroup?.isOpen,
        'fas fa-angle-double-down': !accGroup?.isOpen
      }"></i>
  </span>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <h5 class="d-inline">Description: </h5>
        <div class="d-inline">{{ survey.description }}</div>
      </div>
      <div>
        <h5 class="d-inline">Due date: </h5>
        <div class="d-inline">{{ survey.dueDate.toString().slice(0, 10) }}</div>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-1">
        <h5 class="d-inline">Priority: </h5>
        <div class="d-inline">{{ survey.priority }}</div>
      </div>
      <div>
        <h5 class="d-inline">Number of questions: </h5>
        <div class="d-inline">{{ survey.numberOfQuestions }}</div>
      </div>
    </div>
  </div>
  
  <div *ngIf="userType === 'admin'">
    <div class="my-auto p-3">
      <div *ngIf="survey.status == 'Draft'">
        <ul class="list-inline m-auto float-end">
          <li class="list-inline-item">
            <h3 class="link-animate me-2" routerLinkActive="" routerLink="/admin/surveys/edit/{{ survey.surveyID }}">
              Edit
            </h3>
          </li>
          <li class="list-inline-item">
            <h3 class="link-animate me-2" (click)="onPublish()">Publish</h3>
          </li>
          <li class="list-inline-item">
            <h3 class="link-animate" (click)="onDelete()">Delete</h3>
          </li>
        </ul>
      </div>
      <div *ngIf="survey.status == 'Published'">
        <ul class="list-inline m-auto float-end">
          <li class="list-inline-item">
            <h3 class="link-animate float-end me-2" routerLink="/admin/surveys/results/{{ survey.surveyID }}">
              View results
            </h3>
          </li>
          <li class="list-inline-item">
            <h3 class="link-animate float-end" (click)="onClose()">Close survey</h3>
          </li>
        </ul>
      </div>
      <div *ngIf="survey.status == 'Finished'">
        <h3 class="link-animate float-end" routerLink="/admin/surveys/results/{{ survey.surveyID }}">
          View results
        </h3>
      </div>
    </div>
  </div>
  <div *ngIf="userType == 'user'">
    <div class="my-auto p-3">
      <div *ngIf="assignedSurvey.completionStatus == 'Assigned'">
        <ul class="list-inline m-auto">
          <li class="list-inline-item">
            <h3 class="link-animate" 
            routerLinkActive="" routerLink="fill-out/{{assignedSurvey.surveyID}}"
            >Fill Out</h3>
          </li>
        </ul>
      </div>
      <div *ngIf="assignedSurvey.completionStatus == 'In-Progress'">
        <h3 class="link-animate" routerLinkActive="" routerLink="fill-out/{{assignedSurvey.surveyID}}">Continue</h3>
      </div>
      <div *ngIf="assignedSurvey.status == 'Completed'">
        <h3 class="link-animate" routerLink="/survey-results/{{assignedSurvey.surveyID}}">View Results</h3>
      </div>
    </div>
  </div>
</accordion-group>
