<accordion-group [isOpen]="false" #accGroup class="p-1">
  <span class="header" accordion-heading class="float-start" style="width: 100%">
    <h2 *ngIf="userType == 'user'" style="display: inline; position: relative; font-size: 25px">
      {{ survey.title }} - {{assignedSurvey.completionStatus}}
    </h2>
    <h2 *ngIf="userType == 'admin'" style="display: inline; position: relative; font-size: 25px">
      {{ survey.title }}
    </h2>
    <i
      class="fa float-end fa-lg pt-2"
      [ngClass]="{
        'fas fa-angle-double-up': accGroup?.isOpen,
        'fas fa-angle-double-down': !accGroup?.isOpen
      }"></i>
    <i
      *ngIf="survey.priority == 'High'"
      class="bi bi-exclamation-square-fill float-end me-5"
      style="color: #f32013; font-size: 25px"></i>
    <i
      *ngIf="survey.priority == 'Medium'"
      class="bi bi-exclamation-square-fill float-end me-5"
      style="color: #e9d502; font-size: 25px"></i>
  </span>
  <div class="row">
    <div class="col-6">
      <div class="mb-1">
        <h5 class="d-inline">Description:&nbsp;</h5>
        <div class="d-inline">{{ survey.description }}</div>
      </div>
      <div>
        <h5 class="d-inline">Due date:&nbsp;</h5>
        <div class="d-inline">{{ survey.dueDate.toString().slice(0, 10) }}</div>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-1">
        <h5 class="d-inline">Priority:&nbsp;</h5>
        <div class="d-inline">{{ survey.priority }}</div>
      </div>
      <div>
        <h5 class="d-inline">Number of questions:&nbsp;</h5>
        <div class="d-inline">{{ survey.numberOfQuestions }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="userType === 'admin'">
    <div class="my-auto p-3">
      <div *ngIf="survey.status == 'Draft'">
        <ul class="list-inline m-auto float-start">
          <li class="list-inline-item">
            <button
            type="button"
            class="btn btn-primary list-inline-item float-start mb-3"
            routerLinkActive="" routerLink="/admin/surveys/edit/{{ survey.surveyID }}">
              Edit
            </button>
          </li>
          <li class="list-inline-item">
            <button 
            class="btn btn-primary list-inline-item float-start mb-3"
            (click)="onPublish()">Publish</button>
          </li>
          <li class="list-inline-item">
            <button 
            class="btn btn-primary list-inline-item float-start mb-3"
            (click)="onDelete()">Delete</button>
          </li>
          &nbsp;
        </ul>
      </div>
      <div *ngIf="survey.status == 'Published'">
        <ul class="list-inline m-auto float-start">
          <li class="list-inline-item">
            <button type="button" class="btn btn-primary list-inline-item float-start mb-3"
            (click)="openInviteModal(template)">
              Assign users
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary list-inline-item float-start mb-3"
            routerLink="/admin/surveys/results/{{ survey.surveyID }}">
              View results
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary list-inline-item float-start mb-3"
            (click)="onClose()">
            Close survey
            </button>
          </li>
        </ul>
      </div>
      <div *ngIf="survey.status == 'Finished'">
        <ul class="list-inline m-auto float-start">
          <li class="list-inline-item">
            <button
              class="btn btn-primary list-inline-item float-start mb-3"
              routerLink="/admin/surveys/results/{{ survey.surveyID }}">
              View results
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="userType == 'user'">
    <div class="mt-3 mb-3">
      <div *ngIf="assignedSurvey.completionStatus == 'Assigned'">
        <button
          type="button"
          class="btn btn-primary list-inline-item float-start mb-3"
          routerLinkActive=""
          routerLink="fill-out/{{ assignedSurvey.surveyID }}">
          Fill Out
        </button>
      </div>
      <div *ngIf="assignedSurvey.completionStatus == 'In-Progress'">
        <button
          type="button"
          class="btn btn-primary float-lg-start mb-3"
          routerLinkActive=""
          routerLink="fill-out/{{ assignedSurvey.surveyID }}">
          Continue
        </button>
      </div>
      <div *ngIf="assignedSurvey.completionStatus == 'Completed'">
        <div>
          <button
            type="button"
            class="btn btn-primary list-inline-item float-start mb-3"
            (click)="openAnswersModal(template)">
            Preview Answers
          </button>
          <br />
          <ng-template #template class="modal">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Your Answers</h4>
              <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h2>{{ assignedSurvey.title }}</h2>
              <h4>{{ assignedSurvey.description }}</h4>
              <h4>Questions and Your Answers:</h4>
              <div *ngFor="let question of userAnswers.questionsAndAnswers" class="row">
                <h4>{{ question.question }} - {{ question.answer }}</h4>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <ng-template #template class="modal">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Survey Participants</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="border-radius: 0px;">
      <tabset>
        <tab heading="Invite" id="tab1">
          <div *ngFor="let user of users" class="row custom-checkbox">
            <div class="form-group">
              <p class="user-info">
                <i class="bi bi-person-fill"></i>
                {{ user.userName }}
              </p>
              <input
                type="checkbox"
                name="week"
                id="{{ user.userName }}"
                (change)="onChange(user.userName, $any($event.target).checked)" />
              <label for="{{ user.userName }}" class="float-end"
                ><i class="bi bi-check-lg"></i
              ></label>
            </div>
          </div>
          <button type="button" class="btn btn-primary float-end m-1" (click)="invite()">
            Invite!
          </button>
        </tab>
        <tab heading="Invited">
          <div *ngFor="let user of addedUsers" class="row custom-checkbox">
            <div class="form-group">
              <p class="user-info">
                <i class="bi bi-person-fill"></i>
                {{ user }}
              </p>
              <label for="{{ user }}" class="float-end"><i class="bi bi-check-lg"></i></label>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </ng-template>
</accordion-group>
