# See http://help.github.com/ignore-files/ for more about ignoring files.




# Compiled output

Survey/dist

Survey/tmp

Survey/out-tsc

Survey/bazel-out



.vscode
# Node

Survey/node_modules

Survey/npm-debug.log

Survey/yarn-error.log




# IDEs and editors
--trash--/

.idea/

.project

.classpath

.c9/

*.launch

.settings/

*.sublime-workspace

Survey/.editorconfig



# Visual Studio Code

Survey/.vscode/*

!.vscode/settings.json

!.vscode/tasks.json

!.vscode/launch.json

!.vscode/extensions.json

.history/*




# Miscellaneous

Survey/.angular/cache

.sass-cache/

/connect.lock

/coverage

/libpeerconnection.log

testem.log

/typings




# System files

.DS_Store

Thumbs.db




WebAPI/bin

WebAPI/obj