<app-h-nav-bar></app-h-nav-bar>
<div class="row mt-3">
  <div class="col-12 m-auto">
    <div class="card">
      <div class="card-header">
        <h3>Manage Users</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <btn
            type="button"
            class="btn btn-success m-auto mt-3 mb-3"
            style="width: 98%"
            routerLink="/admin/users/manage/register"
            >Add User</btn
          >
          <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
            <accordion-group [isOpen]="false" #accGroup *ngFor="let item of users" class="p-1">
              Username: {{ item.userName }} <br />
              Email: {{ item.email }}
              <span class="header" accordion-heading class="float-start" style="width: 100%">
                <h4 style="display: inline">{{ item.firstName + " " + item.lastName }}</h4>
                <i
                  class="fa float-end fa-lg pt-2"
                  [ngClass]="{
                    'fas fa-angle-double-up': accGroup?.isOpen,
                    'fas fa-angle-double-down': !accGroup?.isOpen
                  }"></i>
              </span>

              <ul class="list-inline m-auto float-end">
                <li class="list-inline-item">
                  <button
                    class="btn btn-primary list-inline-item float-start mb-3"
                    routerLinkActive=""
                    routerLink="/admin/users/manage/edit/{{ item.userName }}">
                    Edit
                  </button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-danger list-inline-item float-start mb-3" (click)="onDelete(item.userName)">Delete</button>
                </li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</div>
