<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-body">
          <div class="col-12">
            <!-- Vertical Navbar -->
            <div *ngFor="let question of allQuestions">
              <h4 class="link-animate" (click)="changeQuestion(question.questionID - 1)">
                Question {{question.questionID}}
              </h4>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="card">
      <div class="card-header">
        <div *ngIf="survey">
          <h3>{{survey.title}} | {{survey.description}} | Due: {{survey.dueDate}}</h3>
        </div>
      </div>
      <form [formGroup]="userSubmissionForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="col-sm-6 m-auto" *ngIf="survey">
            <h3>{{ currQuestion.question }}</h3>
            <div *ngFor="let answer of currQuestion.options; let i=index" class="mb-2" btnRadioGroup>
              <div class="d-flex">
                <input type="radio" [id]="answer.answerID" [value]="answer.answerID"
                [checked]="checkIfAnswered(answer.answerID)"
                (click)="updateSelectedAnswer(answer.answerID)"
                formControlName="question{{currQuestion.questionID}}">
                <label class="me-2" for="{{answer.answerID}}"> {{ answer.answer }} </label>
              </div>         
            </div>
          </div>
          <div class="form-group col-12 mt-3">
            <button type="button" class="btn btn-primary col-12 mt-3"
            (click)="changeQuestion(currQuestionID - 1)">
              Back
            </button>
            <button type="button" class="btn btn-primary col-12 mt-3"
            (click)="changeQuestion(currQuestionID + 1)">
              Next
            </button>
            <button type="button" class="btn btn-light col-12 mt-3"
            (click)="saveAsDraft()">
              Save
            </button>
            <button type="submit" class="btn btn-success col-12 mt-3"
            [disabled]="userSubmissionForm.invalid || currQuestionID < totalQuestions - 1">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
