<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br />

<ng-template #template class="modal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Invite</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let user of users" class="row custom-checkbox">
      <div class="form-group">
        <p class="user-info">
          <i class="bi bi-person-fill"></i>
          {{ user.userName }}
        </p>
        <input
          type="checkbox"
          name="week"
          id="{{ user.userName }}"
          (change)="onChange(user.userName, $any($event.target).checked)" />
        <label for="{{ user.userName }}" class="float-end"><i class="bi bi-check-lg"></i></label>
      </div>
    </div>
    <button type="button" class="btn btn-primary float-end m-1" (click)="invite()">Invite!</button>
  </div>
</ng-template>
