<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a *ngIf="admin" class="navbar-brand" routerLink="/admin/surveys/manage">SurveyApp</a>
    <a *ngIf="!admin" class="navbar-brand" routerLink="/user/surveys">SurveyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="!admin" class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/user/surveys"
            >Surveys</a
          >
        </li>
        <li *ngIf="admin" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/surveys/manage"
            >Surveys</a
          >
        </li>
        <li *ngIf="admin" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/surveys/results"
            >Results</a
          >
        </li>
        <li *ngIf="admin" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/users/manage">Users</a>
        </li>
      </ul>

      <div>
        <ul class="nav navbar-nav">
          <span *ngIf="!admin" dropdown>
            <a dropdownToggle aria-controls="dropdown-basic" class="nav-link nav-icon iconClass"
              ><i class="fa fa-bell-o pt-2 fa-lg"></i>
              <span *ngIf="notifications && !admin" class="bi bi-badge bs-danger">{{
                notifications
              }}</span></a
            >

            <ul
              *dropdownMenu
              class="dropdown-menu dropDown"
              role="menu"
              aria-labelledby="basic-link">
              <ng-container *ngFor="let title of urgentNotificationsList"
                ><li class="urgent" id="{{ title }}">
                  <i class="bi bi-stars"></i>
                  <a role="menuitem" class="dropdown-item" (click)="clickNotification(title)">{{
                    title
                  }}</a>
                </li></ng-container
              >
              <ng-container *ngFor="let title of notificationsList"
                ><li id="{{ title }}">
                  <i class="bi bi-stars"></i>
                  <a role="menuitem" class="dropdown-item" (click)="clickNotification(title)">{{
                    title
                  }}</a>
                </li></ng-container
              >
            </ul>
          </span>

          <div class="dropdown me-5" dropdown>
            <a href="#" class="dropdown-toggle text-dark nav-link" dropdownToggle (click)="(false)"
              >Welcome {{ loggedInUser }}</a
            >
            <div class="dropdown-menu" *dropdownMenu>
              <a href="#" class="dropdown-item"> <i class="far fa-user-circle"></i>My Profile </a>
              <a href="#" class="dropdown-item"> <i class="fas fa-key"></i>Account </a>
              <a (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i>Logout
              </a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
