.navbar {
  background-color: rgb(12, 117, 173);
  border-bottom: 3px solid #d3d8ff;
}

.navbar-brand {
  color: white;
  margin: 2px;
}

.dropdown-toggle{
  color: white !important;
}

.nav-item .nav-link {
  color: white;
}

.nav-link.nav-icon:hover {
  cursor: pointer;
}


.iconClass {
  position: relative;
  color: white;
}

.iconClass:hover {
  color: rgb(0, 0, 0);
}

.iconClass span {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  color: rgba(255, 0, 0, 0.685);
}

li > a {
  display: inline-block;
  vertical-align: center;
  width: calc(100% - 48px);
}

.urgent {
  color: red;
  text-decoration: underline;
}

.urgent a {
  color: red;
  text-decoration: underline;
}

.dropDown {
  margin: 0;
  inset: 100% auto auto auto !important;
}

.nav-item {
  display: inline-block;
  background-image: linear-gradient(#d3d8ff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.nav-item:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
