<app-h-nav-bar></app-h-nav-bar>
<div class="row mt-3">
  <div class="col-12 m-auto">
    <div class="card">
      <div class="card-header">
        <h3>View surveys</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2 m-auto">
            <!--<div>
              <label>Sort by &nbsp;</label>
              <select [(ngModel)]="sortByParam">
                <option value="Priorty">Priority</option>
                <option value="Due Date">Due Date</option>
              </select>
              <button type="button" (click)="onSortDirection()">
                <i *ngIf="sortDirection==='asc'" class="fa-solid fa-sort-up"></i>
                <i *ngIf="sortDirection==='desc'" class="fa-solid fa-sort-down"></i>
              </button>
            </div> -->
            <div>
              <h1>Status:</h1>
              <h2 class="link-animate" id="All_Statuses" (click)="setStatusFilter('All_Statuses')">
                All
              </h2>
              <h2 class="link-animate" id="Assigned" (click)="setStatusFilter('Assigned')">Open</h2>
              <h2 class="link-animate" id="In-Progress" (click)="setStatusFilter('In-Progress')">
                In-Progress
              </h2>
              <h2 class="link-animate" id="Completed" (click)="setStatusFilter('Completed')">
                Completed
              </h2>
            </div>
            <hr />
            <div>
              <h1>Priority:</h1>
              <h2
                class="link-animate"
                id="All_Priorities"
                (click)="setPriorityFilter('All_Priorities')">
                All
              </h2>
              <h2 class="link-animate" id="Low" (click)="setPriorityFilter('Low')">Low</h2>
              <h2 class="link-animate" id="Medium" (click)="setPriorityFilter('Medium')">Medium</h2>
              <h2 class="link-animate" id="High" (click)="setPriorityFilter('High')">High</h2>
            </div>
          </div>
          <div class="col-10">
            <div *ngFor="let survey of (surveysAssigned | filter:statusFilter:'completionStatus' | filter:priorityFilter:'priority' )" class="shadow-sm mb-3">
              <div *ngIf="!survey">
                <h3> No surveys to display!</h3>
              </div>
              <accordion [isAnimated]="true">
                <div *ngIf="survey">
                  <app-survey-card [survey]="survey" [assignedSurvey]="survey" [parent]="this" [userType]="'user'"></app-survey-card>
                </div>
              </accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
